header:before,
header:after {
  content: "";
  display: table;
}

header:after {
  clear: both;
}

header {
  *zoom: 1;
}

nav {
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;  
  top: 0;
  width: 100%;
  z-index: 1;
  height:80px;


}

.logo {
  height: 80px;
  width: 80px;
  float: left;
  margin-right: 10px;
}

#nav-bar .header {
  font-size: 200%;
  float: left;
  line-height: 1.5;
}

#composer {
  margin-top: 15px;
  float: right;
  background: lightgray;
  color: black;
  border-radius: 10px;
  padding: 0.3em;
  display: block;
  border: black solid 0.5px;
  opacity: 0.7;
}
#composer:hover{
  opacity: 1;
}

