header:before,
header:after {
  content: "";
  display: table;
}

header:after {
  clear: both;
}

header {
  *zoom: 1;
}

nav {
  height: 80px;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;


}

.logo {
  height: 80px;
  width: 80px;
  float: left;
  margin-right: 10px;
}

#nav-bar .header {
  font-size: 200%;
  float: left;
}

