h2 {
    font-size: 20px;
    border-bottom: 2px solid #000;
}

#text {
    height: 100px;
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-size: 22px;

}

#counter {
    float: right;
}

.imgHeader {
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.tweetHeader {
    background-color: #e4f0f9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 16.8px;
    padding-right: 16.8px;
    padding-top: 10px;
    padding-bottom: 10px;



}

.section.new-tweet {
    background-color: #e4f0f9;
    border: 1px solid black;
    padding-left: 16.8px;
    padding-right: 16.8px;
}


article {
    margin-bottom: 35px;
    border: 1px solid black;
    border-radius: 10px;
    opacity: 0.7;
    font-size: 15px;
    word-wrap: break-word;

}

article:hover {
    opacity: 1;
}

span.tweeter {
    float: left;
    margin-left: 10px;
}

span.hashtag {
    float: right;
    margin-right: 10px;
}

span.tweets {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 16.8px;
    padding-right: 16.8px;

}

footer {
    font-size: 50%;
    display: flex;
    justify-content: space-between;
    padding-left: 16.8px;
    padding-right: 16.8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

span.error {
    display: none;
}